################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OptimizedList/OptimizedList/.vs
/OptimizedList/OptimizedList/OptimizedList/obj
/OptimizedList/OptimizedList/OptimizedList/bin/Debug/net8.0
